@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@amaxa/tailwind-config/platform";
@import "@fontsource-variable/jetbrains-mono";
@source "../../../../packages/ui/src/*.{ts,tsx}";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  html {
    @apply font-sans;
  }
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

[aria-label="Close toast"] {
  background-color: white;
}
