@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 234 100% 100%;
    --foreground: 234 5% 10%;
    --card: 234 50% 100%;
    --card-foreground: 234 5% 15%;
    --popover: 234 100% 100%;
    --popover-foreground: 234 100% 10%;
    --primary: 234 56.3% 59.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 234 5% 100%;
    --border: 234 30% 82%;
    --input: 234 30% 50%;
    --ring: 234 56.3% 59.6%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 234 50% 10%;
    --foreground: 234 5% 100%;
    --card: 234 50% 10%;
    --card-foreground: 234 5% 100%;
    --popover: 234 50% 5%;
    --popover-foreground: 234 5% 100%;
    --primary: 234 56.3% 59.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 234 5% 100%;
    --border: 234 30% 50%;
    --input: 234 30% 50%;
    --ring: 234 56.3% 59.6%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.react-flow .react-flow__handle {
  width: 30px;
  height: 14px;
  border-radius: 3px;
  background-color: #784be8;
}

.react-flow .react-flow__handle-top {
  top: -10px;
}

.react-flow .react-flow__handle-bottom {
  bottom: -10px;
}

.react-flow .react-flow__node {
  height: 40px;
  width: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-width: 2px;
  font-weight: 700;
}

.react-flow .react-flow__edge path,
.react-flow__connectionline path {
  stroke-width: 2;
}

.wrapper {
  flex-grow: 1;
  height: 100%;
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
