---
import type { Mark, Props as $ } from "astro-portabletext/types";

type Props = $<Mark & { href?: string }>;

const { node } = Astro.props;
const href = node.href ?? "#";
---

<a href={href} class="text-primary underline transition-colors hover:text-primary/80">
  <slot />
</a>
