---
import type { Props as $, Mark } from "astro-portabletext/types";

type Props = $<Mark & { href?: string }>;

const { node } = Astro.props;
const href = node.href ?? "#";
---

<a
  href={href}
  class="text-primary hover:text-primary/80 underline transition-colors"
>
  <slot />
</a>
