@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 234 100% 100%;
    --foreground: 234 5% 10%;
    --card: 234 50% 100%;
    --card-foreground: 234 5% 15%;
    --popover: 234 100% 100%;
    --popover-foreground: 234 100% 10%;
    --primary: 234 56.3% 59.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 234 5% 100%;
    --border: 234 30% 82%;
    --input: 234 30% 50%;
    --ring: 234 56.3% 59.6%;
    --radius: 0.75rem;
    --font-geist-sans:
      "Geist Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
    --font-geist-mono: "Fira Code", ui-monospace, SFMono-Regular, monospace;
    --brand-green: 76 54% 64%;
    --brand-green-hover: 76 54% 54%;
  }

  .dark {
    --background: 234 50% 10%;
    --foreground: 234 5% 100%;
    --card: 234 50% 10%;
    --card-foreground: 234 5% 100%;
    --popover: 234 50% 5%;
    --popover-foreground: 234 5% 100%;
    --primary: 234 56.3% 59.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 234 5% 100%;
    --border: 234 30% 50%;
    --input: 234 30% 50%;
    --ring: 234 56.3% 59.6%;
    --radius: 0.75rem;
    --brand-green: 76 54% 64%;
    --brand-green-hover: 76 54% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}
