:root {
  --background: 234 100% 100%;
  --foreground: 234 5% 10%;
  --card: 234 50% 100%;
  --card-foreground: 234 5% 15%;
  --popover: 234 100% 100%;
  --popover-foreground: 234 100% 10%;
  --primary: 234 56.3% 59.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220 14.3% 95.9%;
  --secondary-foreground: 220.9 39.3% 11%;
  --muted: 220 14.3% 95.9%;
  --muted-foreground: 220 8.9% 46.1%;
  --accent: 220 14.3% 95.9%;
  --accent-foreground: 220.9 39.3% 11%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 234 5% 100%;
  --border: 234 30% 82%;
  --input: 234 30% 50%;
  --ring: 234 56.3% 59.6%;
  --radius: 0.75rem;
  --font-geist-sans:
    "Geist Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
  --font-geist-mono: "Fira Code", ui-monospace, SFMono-Regular, monospace;
  --brand-green: 76 54% 64%;
  --brand-green-hover: 76 54% 54%;
}

.dark {
  --background: 234 50% 10%;
  --foreground: 234 5% 100%;
  --card: 234 50% 10%;
  --card-foreground: 234 5% 100%;
  --popover: 234 50% 5%;
  --popover-foreground: 234 5% 100%;
  --primary: 234 56.3% 59.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 215 27.9% 16.9%;
  --secondary-foreground: 210 20% 98%;
  --muted: 215 27.9% 16.9%;
  --muted-foreground: 217.9 10.6% 64.9%;
  --accent: 215 27.9% 16.9%;
  --accent-foreground: 210 20% 98%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 234 5% 100%;
  --border: 234 30% 50%;
  --input: 234 30% 50%;
  --ring: 234 56.3% 59.6%;
  --radius: 0.75rem;
  --brand-green: 76 54% 64%;
  --brand-green-hover: 76 54% 54%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
